.container {
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
  height: 260px;
  width: 480px;
  transition: all 0.7s ease;
  transform: scale(1);
}


.slideWrapper {
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  transition: opacity 0.7s ease;
  opacity: 0;
}

.activeSlide {
  opacity: 1;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain
}

.dots {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 18px;
  background-color: #f3f3f3;
  padding-top: 4px;
  gap: 5px;
  z-index: 10;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b3b3b3;
  border: none;
  cursor: pointer;
}

.activeDot {
  background-color: #250050;
}

@media (max-width: 768px) {
 .container{
  width: 320px;
  height: 180px;
  margin: 20px;
 }
}
