@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
}

.banner {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  background-image: url("./assets/BannerBg.png");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whiteDiv {
  background-color: #ffffff;
  padding-top: 0;
  border-radius: 40px 0 0 0;
}

.projectsDiv {
  /* background: linear-gradient(to bottom, #1b1b1b, #7700ff); */
  background: linear-gradient(to bottom, #1b1b1b 0%, #1b1b1b 25%, #7700ff 100%);
  width: 100%;
  padding-top: 20px;
}

.projectsContatcs {
  background: linear-gradient(to bottom, #1b1b1b 0%, #0c0c0c 50%, #000000 100%);
  width: 100%;
  padding-top: 20px;
}

.halfDiv {
  width: 50%;
}

/* Barra de Navegação. */
.navBar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  background-color: #250050;
}

.navButton {
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
  animation-name: transparent;
  transition: all 0.5s ease;
  transform: scale(1);
}
.navButton:hover {
  scale: 1.05;
  transition: all 0.5s ease;
}

/* Conteudo Banner */
.perfil {
  width: 240px;
  height: 240px;
  margin-top: 80px;
  margin-bottom: 10px;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-height: 720px;
}

.bannerTitle {
  font-family: "Roboto Mono", monospace;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 10px;
}

.resume {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 18px;
  width: 70%;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* Logos de Tecnologias */
.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.miniLogo {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.iconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 10px;
  padding: 5px;
  padding-inline: 20px;
  background-color: #250050;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0.5px rgba(32, 32, 32, 0.5);
  transition: all 0.5s ease;
  transform: scale(1);
}
.iconBox:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  background-color: #7700ff;
}

/* Botão */
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  margin: 40px;
  height: 50px;
  background-color: #250050;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1);
}

.icons {
  margin-top: 4px;
  width: 22px;
  height: 22px;
  margin-inline: 10px;
}

.buttonTitles {
  font-weight: bold;
  margin-top: 7.5px;
  margin-inline-end: 10px;
  color: #ffffff;
}

.button:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  background-color: #ffffff;
  .buttonTitles {
    color: #250050;
  }
}
/* fim botão. */

.buttonProject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-inline: 20px;
  height: 50px;
  padding: 5px;
  background-color: #250050;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  transition: all 0.5s ease;
  transform: scale(1);
}

.buttonTitleProject {
  font-weight: bold;
  margin-top: 7.5px;
  margin-inline: 10px;
  color: #ffffff;
}
.buttonProject:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  background-color: #ffffff;
  .buttonTitleProject {
    color: #250050;
  }
}

.gif {
  width: 480px;
  height: 270px;
  border-radius: 8px;
  margin: 20px;
  transition: all 0.7s ease;
  transform: scale(1);
}
.gif:hover {
  margin-top: 10%;
  margin-bottom: 10%;
  scale: 1.15;
  transition: all 0.7s ease;
}

.zenkai {
  width: 15%;
  height: auto;
  margin: 20px;
  border-radius: 8px;
}

.zenkaiGif {
  width: 240px;
  height: auto;
  margin: 20px;
  border-radius: 8px;
  transition: all 0.7s ease;
  transform: scale(1);
}
.zenkaiGif:hover {
  scale: 1.15;
  transition: all 0.7s ease;
  margin: 10%;
}

.photoTom {
  width: 14%;
  height: auto;
  margin: 20px;
  border-radius: 8px;
}

.imageBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 320px;
  width: 70%;
  background: rgba(25, 0, 65, 0.5);
  border-radius: 32px;
  padding: 20px;
  backdrop-filter: blur(20px); /* Desfoque. */
  -webkit-backdrop-filter: blur(20px); /* Compatibilidade Safari */
}

/* Botão de contato */
.buttonContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  width: 75%;
  height: 48px;
  background-color: #250050;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1);
}
.buttonContact:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  background-color: #ffffff;
  .buttonTitleContact {
    color: #1b1b1b;
  }
  .iconsContactGit {
    filter: invert(0);
  }
}

.iconsContact {
  width: 24px;
  height: auto;
  padding-top: 3.5px;
}

.iconsContactGit {
  width: 24px;
  height: auto;
  filter: invert(1);
  padding-top: 3.5px;
}

.buttonTitleContact {
  font-weight: bold;
  margin-top: 7.5px;
  color: #ffffff;
  margin-inline: 20px;
}

.asset {
  margin: 40px;
  width: 280px;
  height: auto;
  align-self: center;
}

.buttonBlackCV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  width: 50%;
  height: 48px;
  background-color: #1b1b1b;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1);
}

.buttonBlackCV:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  background-color: #250050;
}

.buttonTitleBlack {
  font-weight: bold;
  margin-top: 7.5px;
  color: #ffffff;
  margin-inline: 20px;
}

.buttonWhiteCV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  margin-top: 200px;
  margin-bottom: 160px;
  width: 50%;
  height: 48px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1);
}

.buttonWhiteCV:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  background-color: #7700ff;
  .buttonTitleWhite {
    color: #ffffff;
  }
}

.buttonTitleWhite {
  font-weight: bold;
  margin-top: 7.5px;
  color: #1b1b1b;
  margin-inline: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
}

.footerText {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 16px;
  color: #1b1b1b;
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    padding-bottom: 20px;
    background-image: url("./assets/BannerMobile.png");
  }

  .navBar {
    padding-top: 12px;
  }

  .bannerContent {
    height: auto;
    display: flex;
    padding: 20px;
  }

  .perfil {
    width: 240px;
    height: 240px;
    margin: 20px;
    margin-top: 60px;
  }

  .bannerTitle {
    text-align: center;
  }

  .resume {
    font-size: 12px;
    padding-inline: 20px;
    width: 100%;
    text-align: center;
  }

  .button {
    width: 85%;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    .row {
      flex-direction: row;
    }
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .halfDiv {
    width: 100%;
  }

  .iconBox {
    align-self: flex-start;
    width: 100%;
  }

  .buttonProject {
    align-self: flex-start;
    width: 100%;
    margin: 20px;
    margin-inline: 0;
  }

  .zenkai {
    margin: 20px;
    width: 60%;
  }

  .photoTom {
    margin: 20px;
    width: 60%;
  }

  .imageBox {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .buttonWhiteCV {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
  }

  .buttonBlackCV {
    margin-bottom: 40px;
    width: 100%;
  }

  .footerText {
    text-align: center;
  }

  .glass {
    width: 85%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .buttonContact {
    width: 100%;
    height: 50px;
    margin: 20px;
    .row {
      flex-direction: row;
    }
  }

  .gif {
    width: 320px;
    height: auto;
    margin: 20px;
  }
  .gif:hover {
    scale: 1.1;
  }

  .zenkaiGif {
    width: 60%;
    height: auto;
    margin: 20px;
  }
  .zenkaiGif:hover {
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@keyframes transparent {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: #1b1b1b;
  }
}
