@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/BannerBg.png");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.whiteDiv {
  background-color: #ffffff;
  padding-top: 0;
  border-radius: 40px 0 0 0;
}

.projectsDiv {
  /* background: linear-gradient(to bottom, #1b1b1b, #7700ff); */
  background: linear-gradient(to bottom, #1b1b1b 0%, #1b1b1b 25%, #7700ff 100%);
  width: 100%;
  padding-top: 20PX;
}

.projectsContatcs {
  background: linear-gradient(to bottom, #1b1b1b 0%,  #0c0c0c 50%, #000000 100%);
  width: 100%;
  padding-top: 20PX;
}

.halfDiv {
  width: 50%;
}

/* Barra de Navegação. */
.navBar {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 140px;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}

.navButton {
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 10px;
  cursor: pointer;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* Conteudo Banner */
.perfil {
  width: 250px;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 10px;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-inline-start: -140px;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.bannerTitle {
  font-family: "Roboto Mono", monospace;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-inline-start: -140px;
  margin-bottom: 10px;
}

.resume {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 18px;
  width: 70%;
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-inline-start: -140px;
}


/* Logos de Tecnologias */
.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.miniLogo {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.iconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 20px;
  padding: 5px;
  padding-inline: 20px;
  background-color: #250050;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 0.5px rgba(32, 32, 32, 0.5);
}
/* Botão */
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 140px;
  margin: 20px;
  height: 40px;
  background-color: #250050;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

.icons {
  width: 25px;
  height: auto;
  margin-inline: 10px;
}

.buttonTitles {
  font-weight: bold;
  margin-top: 7.5px;
  margin-inline-end: 10px;
  color: #ffffff;
}
/* fim botão. */

.buttonProject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px;
  margin-top: 0;
  height: 50px;
  padding: 5px;
  background-color: #250050;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
}

.buttonTitleProject {
  font-weight: bold;
  margin-top: 7.5px;
  margin-inline: 10px;
  color: #ffffff;
}

.gif{
  width: 480px;
  height: 270px;
  border-radius: 8px;
  margin: 40px;
}

.photoTom{
  width: 10% ;
  height: auto;
  margin: 40px;
  border-radius: 8px;
}

.glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 320px;
  width: 50%;
  background: rgba(25, 0, 65, 0.5);
  border-radius: 32px;
  padding: 20px;
  backdrop-filter: blur(20px); /* Desfoque. */
  -webkit-backdrop-filter: blur(20px); /* Compatibilidade Safari */
}

/* Botão de contato */
.buttonContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  width: 50%;
  height: 48px;
  background-color: #250050;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0.5px rgba(65, 65, 65, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

.iconsContact {
  width: 28px;
  height: auto;
}

.iconsContactGit {
  width: 24px;
  height: auto;
  filter: invert(1);
}

.buttonTitleContact {
  font-weight: bold;
  margin-top: 7.5px;
  color: #ffffff;
  margin-inline: 20px;
}

.asset{
  width: 320px;
  height: auto;
  align-self: center;
}

@media (max-width: 768px) {
  .banner {
    background-image: url("./assets/BannerMobile.png");
    padding: 20px;
  }

  .resume {
    font-size: 12px;
    width: 100%;
  }
}

@keyframes transparent {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: #ffffff;
  }
}
