.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}

.content {
  width: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/BannerBg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 80px;
  box-sizing: border-box;
}

.titles {
  animation-name: textSlide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.resume {
  font-size: 18px;
  width: 50%;
  animation-name: textSlide;
  animation-duration: 1s;
  animation-timing-function: ease-out; /*Controle de velocidade*/
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 20px;
  height: 40px;
  gap: 10px;
  background-color: #ff00aa;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  animation-name: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.icons {
  width: 25px;
  height: auto;
  margin-inline: 10px;
}

.buttonTitles {
  font-weight: bold;
  margin-inline-end: 10px;
}

@media (max-width: 768px) {
  .banner {
    background-image: url("./assets/BannerBgIp.png");
    padding: 20px;
  }

  .resume {
    font-size: 12px;
    width: 100%;
  }
}

@keyframes textSlide {
  from {
    margin-left: 85vw;
    background-color: #ff00aa;
  }
  to {
    margin-left: 0;
    background-color: #ff00aa;
  }
}

@keyframes transparent {
  from{
    background-color: transparent;
  }
  to{
    background-color: #ff00aa;
  }
  
}
